@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
h1{
    font-family: 'Bebas Neue', sans-serif;
    text-align: center;
    font-size:80px;
    color:rgb(255, 94, 0);
    overflow-wrap:normal;
    padding: 40px;
    padding-top: 0px;
    padding-bottom: 0px;
    z-index: -200   ;
}
h2{
    
    text-align: center;
    font-size:60px;
    font-family: 'Bebas Neue', sans-serif;
    color:#ff4500;
    overflow-wrap:normal;
    padding: 40px;
    padding-top: 0px;
    padding-bottom: 0px;
    z-index: -200;
}
.Branch{
    position: absolute;
    width: fit-content;
    height: fit-content;
    border:5px #ff4500;
    border-style: dashed;
    z-index: 200;

    -webkit-transition: all 1s linear;
    -moz-transition: all 1s linear;
    -o-transition: all 1s linear;
    transition: all 1s linear;
}
.Hovered{
    position: absolute;
    width: fit-content;
    height: fit-content;
    border:5px #ff7745;
    border-style: dashed;
    z-index: 200;
    color: #ff4500;
    background-color: #ff44004d;

    -webkit-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    transition: all 0.5s linear;
}
.Clicked{
    position: absolute;
    width: fit-content;
    height: fit-content;
    border:4px #ff6600;
    border-style:dashed;
    z-index: 200;
    color: #ff4500;
    background-color: #ff44001e;
    translate: -3px -3px;
    -webkit-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    transition: all 0.5s linear;
}
p{
    font-size: 40px;
}
