#Toolbar{
    user-select: none;
    -webkit-user-drag: none;
    z-index: 700;
    position: absolute;
    top: 0%;
    right: 3%;
    width: 20%;
    height: 100%;
    z-index: 700;
    max-width: 200px;

    user-drag: none; 
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}