#Toolbar{
    user-select: none;
    -webkit-user-drag: none;
    z-index: 700;

    position: fixed;
    top: 0%;
    left: 94%;
    width: 6%;
    height: 100%;
    background-color: rgba(134, 80, 33, 0.082);
    z-index: 700;
}

#reset{
    position: relative;
    offset: center;
}