.Viewport_Enlarged
{
    position:relative;
    width: 65vw;
    height: 63.2vh;
    z-index: 900;
    transition: width 0.5s;
    transition: height 0.5s;
}
.Viewport
{
    position:relative;
    width: 40vw;
    height: 40vh;
    left: 0;
    top: 0;
    z-index: 900;
    transition: width 0.5s;
    transition: height 0.5s;
}