.Viewport_Enlarged
{
    transform:translate(-4000px,-4000px);
    position:relative;
    width: 100vw;
    height: 100vh;
    top: -9000;
    left: -9000;
    z-index: 900;
    transition: width 0.5s;
    transition: height 0.5s;
}
.Viewport
{
    position:relative;
    width: 60vw;
    height: 60vh;
    left: 0;
    top: 0;
    z-index: 900;
    transition: width 0.5s;
    transition: height 0.5s;
}